# Домашнее задание к лекции "Статистика. Практика"

## Задание 1

Вернемся к [набору данных о видеоиграх](https://github.com/obulygin/pyda_homeworks/blob/master/stat_case_study/vgsales.csv).

Ответьте на следующие вопросы:

1) Как критики относятся к спортивным играм?  
2) Критикам нравятся больше игры на PC или на PS4?  
3) Критикам больше нравятся стрелялки или стратегии?  

Для каждого вопроса:
- сформулируйте нулевую и альтернативную гипотезы;
- выберите пороговый уровень статистической значимости;
- опишите полученные результаты статистического теста.

In [1]:
import numpy as np  
import pandas as pd  # для работы с таблицами
from scipy import stats as st # для работы со статистикой
import matplotlib.pyplot as plt  # Библиотека для визуализации результатов 
import seaborn as sns # Более продвинутая библиотека для визуализации

In [2]:
import pandas as pd
df = pd.read_csv('vgsales.csv')
df.head()

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

**1. Как критики относятся к спортивным играм?**

H0: Критики плохо относятся к спортивным играм. Средний рейтинг критиков  < 50

H1: Критики хорошо относятся к спортивным играм. Средний рейтинг критиков  >= 50

In [3]:
alpha = 0.05
#Сравниваем значение по выборке с константой, поэтому нужен одновыборочный критерий.
result = st.ttest_1samp(df[df['Genre'] == 'Sports']['Critic_Score'].dropna(), 50, alternative='greater')

print(df[df['Genre'] == 'Sports']['Critic_Score'].mean())
print(result)

if result.pvalue < alpha:
    print('Отвергаем нулевую гипотезу, среднее больше 50. Критики хорошо относятся к спортивным играм' )
else:
    print('Не отвергаем нулевую гипотезу. Критики плохо относятся к спортивным играм')

71.96817420435511
Ttest_1sampResult(statistic=54.696017932916575, pvalue=0.0)
Отвергаем нулевую гипотезу, среднее больше 50. Критики хорошо относятся к спортивным играм

**2. Критикам нравятся больше игры на PC или на PS4?**

Используем двухвыборочный двухсторонний критерий

In [4]:
A1 = df[df['Platform'] == 'PC']['Critic_Score'].dropna()
A2 = df[df['Platform'] == 'PS4']['Critic_Score'].dropna()

# выдвинем гипотезу
H0 = ' Выборки статистически не различаются.'
H1 =  'Выборки статистически различаются.'
A1_version = 'Критикам  нравятся больше игры на PC, чем на PS4.'
A2_version = 'Критикам  нравятся больше игры на PS4, чем на PC.'
result = st.ttest_ind(A1,A2, equal_var=False)
print(A1.mean())
print(A2.mean())

print(result)

if (result.pvalue < alpha):
    print(H1)
else:
    print(H0)

if (result.statistic > 0):
    print(A1_version)
else:
    print(A2_version)

75.92867132867133
72.09126984126983
Ttest_indResult(statistic=4.3087588262138725, pvalue=2.067249157283479e-05)
Выборки статистически различаются.
Критикам  нравятся больше игры на PC, чем на PS4.

**3.Критикам больше нравятся стрелялки или стратегии?**


Используем двухвыборочный сторонний критерий

In [5]:
A1 = df[df['Genre'] == 'Shooter']['Critic_Score'].dropna()
A2 = df[df['Genre'] == 'Strategy']['Critic_Score'].dropna()

# выдвинем гипотезу
H0 = ' Выборки статистически не различаются.'
H1 =  'Выборки статистически различаются.'
A1_version = 'Критикам больше нравятся стрелялки, чем стратегии'
A2_version = 'Критикам больше нравятся стратегии, чем стрелялки.'
result = st.ttest_ind(A1,A2, equal_var=False)
print(A1.mean())
print(A2.mean())

print(result)

if (result.pvalue < alpha):
    print(H1)
else:
    print(H0)

if (result.statistic > 0):
    print(A1_version)
else:
    print(A2_version)

70.18114406779661
72.08609271523179
Ttest_indResult(statistic=-2.2972408230640315, pvalue=0.021938989522304823)
Выборки статистически различаются.
Критикам больше нравятся стратегии, чем стрелялки.

## Задание 2

Реализуйте базовую модель логистической регрессии для классификации текстовых сообщений (используемые данные [здесь](https://github.com/obulygin/pyda_homeworks/blob/master/stat_case_study/spam.csv)) по признаку спама. Для этого:

1) Привидите весь текст к нижнему регистру;  
2) Удалите мусорные символы;  
3) Удалите стоп-слова;  
4) Привидите все слова к нормальной форме;  
5) Преобразуйте все сообщения в вектора TF-IDF. Вам поможет следующий код:  

```
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(df.Message)
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)
```

Можете поэкспериментировать с параметрами [TfidfVectorizer](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html);  

6) Разделите данные на тестовые и тренировочные в соотношении 30/70, укажите `random_state=42`. Используйте [train_test_split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html);  

7) Постройте модель [логистической регрессии](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html), укажите `random_state=42`, оцените ее точность на тестовых данных;  

8) Опишите результаты при помощи [confusion_matrix](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html?highlight=confusion_matrix#sklearn.metrics.confusion_matrix);  

9) Постройте датафрейм, который будет содержать все исходные тексты сообщений, классифицированные неправильно (с указанием фактического и предсказанного).

In [257]:
# импорт библиотек
import glob
import pandas as pd
import re

In [258]:
df= pd.read_csv('spam.csv')

In [259]:
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [260]:
#1.Привидите весь текст к нижнему регистру
df['Message_clear'] = df['Message'].str.lower()
df.head()

,Category,Message,Message_clear
0,ham,"Go until jurong point, crazy.. Available only ...","go until jurong point, crazy.. available only ..."
1,ham,Ok lar... Joking wif u oni...,ok lar... joking wif u oni...
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry in 2 a wkly comp to win fa cup fina...
3,ham,U dun say so early hor... U c already then say...,u dun say so early hor... u c already then say...
4,ham,"Nah I don't think he goes to usf, he lives aro...","nah i don't think he goes to usf, he lives aro..."

In [261]:
#2.Удалите мусорные символы
df['Message_clear'].replace('[\W_]+',' ',regex=True, inplace = True)

In [262]:
df.head()

,Category,Message,Message_clear
0,ham,"Go until jurong point, crazy.. Available only ...",go until jurong point crazy available only in ...
1,ham,Ok lar... Joking wif u oni...,ok lar joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry in 2 a wkly comp to win fa cup fina...
3,ham,U dun say so early hor... U c already then say...,u dun say so early hor u c already then say
4,ham,"Nah I don't think he goes to usf, he lives aro...",nah i don t think he goes to usf he lives arou...

In [263]:
from nltk.corpus import stopwords
stopwords_set = set(stopwords.words('english'))
from nltk.stem import WordNetLemmatizer

In [264]:
#Запустим цикл, где уберем из текста все стоп-слова
#проходимся по всем строчкам датафрейма, разделяем содержимое строки на слова, записываем список в переменную words
for index, row in df.iterrows():
    words = row['Message_clear'].split(' ')
    # перебираем все слова из списка words и ищем их вхождение в список стоп-слов stopwords_set. 
    # если совпадение есть, удаляем из переменной words это слово
    for word in words:
        if word in stopwords_set:
            words.remove(word)   
    #записываем в датафрейм очищенный текст
    row['Message_clear'] = words

In [265]:
df.head()

,Category,Message,Message_clear
0,ham,"Go until jurong point, crazy.. Available only ...","[go, jurong, point, crazy, available, in, bugi..."
1,ham,Ok lar... Joking wif u oni...,"[ok, lar, joking, wif, u, oni, ]"
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,"[free, entry, 2, wkly, comp, win, fa, cup, fin..."
3,ham,U dun say so early hor... U c already then say...,"[u, dun, say, early, hor, u, c, already, say, ]"
4,ham,"Nah I don't think he goes to usf, he lives aro...","[nah, don, think, goes, usf, lives, around, th..."

In [266]:
#4 Привидите все слова к нормальной форме;
#произведем лемматизацию

#Лемматизация — процесс приведения словоформы к лемме — её нормальной (словарной) форме. 
#В русском языке:
#- для существительных — именительный падеж, единственное число;
#- для прилагательных — именительный падеж, единственное число, мужской род;
#- для глаголов, причастий, деепричастий — глагол в инфинитиве несовершенного вида.
#
#В других языках – по аналогии.
from nltk.stem import WordNetLemmatizer
lemmatizer= WordNetLemmatizer()

for index, row in df.iterrows():
    words_list = row['Message_clear']
    
    for i in range(len(words_list)):
        words_list[i] = lemmatizer.lemmatize(words_list[i]) 
        #преобразуем список в строку и записываем его в датафрейм очищенную строчку
    str1 = ' '.join(words_list)
    row['Message_clear'] = str1

In [279]:
df.head()

,Category,Message,Message_clear
0,ham,"Go until jurong point, crazy.. Available only ...",go jurong point crazy available in bugis n gre...
1,ham,Ok lar... Joking wif u oni...,ok lar joking wif u oni
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,free entry 2 wkly comp win fa cup final tkts 2...
3,ham,U dun say so early hor... U c already then say...,u dun say early hor u c already say
4,ham,"Nah I don't think he goes to usf, he lives aro...",nah don think go usf life around though

In [844]:
#5) Преобразуйте все сообщения в вектора TF-IDF.

from sklearn.feature_extraction.text import TfidfVectorizer

#При построении словаря игнорируйте термины, частота которых в документе строго 15 (min_df = 15).
#Подбирается экспериментальным путем. Ориентируемся на максимальный коэф-т детерминации
tfidf = TfidfVectorizer(min_df = 15)
tfidf_matrix = tfidf.fit_transform(df.Message_clear)
names = tfidf.get_feature_names()
tfidf_matrix = pd.DataFrame(tfidf_matrix.toarray(), columns=names)

In [845]:
tfidf_matrix.head()

,000,08000839402,08000930705,10,100,1000,10p,11,12hrs,150,...,yeah,year,yes,yesterday,yet,yo,you,your,yr,yup
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [846]:
#6)Разделяем данные на тестовые и тренировочные в соотношении 30/70, 
#указывем random_state=42. Используем train_test_split
import numpy as np
from sklearn.model_selection import train_test_split

In [847]:
# в X записываем саму матрицу, а в у (то, что мы должны будем по итогу  правильно предсказывать) -  тип сообщения ham или spam 
#из датафрейма df, столбец 'Category'
X = tfidf_matrix
y = df['Category']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [848]:
#Построим модель логистической регрессии, указываем random_state=42, оцениваем ее точность на тестовых данных
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)  # метод обучается на данных и подбирает оптимальные коэффициенты

LogisticRegression()

In [849]:
model.coef_

array([[ 1.24370755e+00,  7.02981092e-01,  3.80809607e-01,
         1.19873833e+00,  1.15189127e+00,  1.79642426e+00,
         1.23951900e+00,  7.65621105e-01,  5.05432943e-01,
         5.83197191e-01,  2.65647462e+00,  1.02909733e+00,
         1.35892502e+00,  2.25561927e+00,  6.18681836e-01,
         6.40862037e-01,  8.76749722e-01,  9.40376449e-01,
         5.28661327e-01,  5.87740361e-01,  2.37254160e+00,
         1.61848092e+00,  8.85388633e-01,  8.16001073e-01,
         1.45797553e+00,  1.03376208e+00,  7.15822574e-01,
        -2.48933727e-01, -2.13327748e-01, -3.40238781e-01,
         5.95036106e-01, -2.93962288e-01,  2.03846657e-01,
        -1.63205840e-01, -2.02323023e-01, -1.95945869e-01,
         8.69908182e-01, -4.50264828e-01, -5.26166271e-01,
         2.80028359e-01,  5.44840410e-01, -5.79497988e-01,
        -4.48768748e-01, -3.16413234e-01, -5.78804363e-01,
        -5.01388335e-01, -7.81779304e-01,  1.06871548e+00,
        -4.30643383e-01, -1.83426278e-01,  2.63612583e-01,
         3.13541294e-02,  1.12035864e-01, -5.11702734e-01,
         3.90009710e-01, -2.31031781e-01,  1.10310135e+00,
        -3.17168270e-01, -2.08910508e-01, -2.23731179e-01,
        -7.78972595e-01,  3.61912211e-01, -5.29716260e-01,
         7.61019870e-01, -1.57727202e-01,  7.90551471e-01,
         1.46336866e+00,  1.55910803e+00,  1.50280082e-02,
        -2.73451479e-01,  5.61348343e-02, -4.36326372e-01,
         3.06711063e-01, -6.23791856e-02,  8.50308704e-01,
        -2.21508641e-01, -2.69072894e-01,  1.66138731e-01,
         2.76044950e-01,  1.07897171e-01, -2.20074420e-01,
        -2.69100348e-01, -1.67690273e-01, -2.23435699e-01,
        -3.86588277e-01,  8.83340147e-01,  6.67257977e-01,
         1.88446295e-01,  9.58408287e-02,  9.68173078e-01,
        -3.03033235e-01, -1.18969043e-01,  4.18577105e-01,
        -2.49447547e-01, -1.94259858e-01,  3.19131766e-01,
        -5.02341407e-01, -2.35363984e-01, -2.36243807e-01,
         4.00297505e-01, -1.67817855e-01,  3.95234636e+00,
         4.23462172e-02,  2.87551468e-01,  2.43467634e-01,
         3.29395807e-01, -3.94610681e-02,  1.35902475e+00,
        -5.44024272e-01, -5.02067672e-01, -4.28843501e-01,
        -1.88653275e-02, -5.50513718e-01, -2.48133529e-01,
         1.99937473e+00, -1.87769761e-01,  9.70466185e-01,
        -2.52562921e-01,  4.88993972e-01,  1.71337162e+00,
        -1.73634781e-01, -2.61196208e-01,  7.38220086e-01,
         2.95418530e+00, -3.00003000e-01, -8.03700234e-02,
         7.00589345e-01,  1.25566242e+00,  1.21228841e+00,
         1.07926807e+00,  1.22746739e+00, -2.41447806e-01,
         4.45024288e-01,  2.39673177e+00, -8.22714292e-01,
        -4.63684094e-01,  5.13441909e-01,  8.54473288e-01,
         1.49049117e+00,  9.98799382e-01, -2.02305013e-01,
         1.84714715e+00, -2.18224002e-01, -1.89359078e-01,
         1.01394738e+00,  1.74114303e+00, -1.13679706e+00,
        -3.32489501e-01, -1.93865331e-01, -2.85091668e-01,
         5.39354595e-01,  1.25972783e+00,  3.58004754e-01,
        -3.43167807e-01, -4.95511052e-01, -1.37304190e-01,
        -1.27294142e-01,  1.30582362e+00, -2.34772268e-01,
         4.13794372e-02, -3.86166255e-01, -4.45974493e-01,
        -2.67465075e-01, -3.08293826e-01, -2.50370407e-01,
        -6.56195789e-01, -4.75700240e-01, -4.22125012e-01,
        -2.78263592e-01, -3.12170444e-01,  9.41821433e-01,
         1.32476573e+00,  9.47882632e-02, -1.73031707e-01,
        -2.73612175e-01,  2.54025322e-01, -1.56993431e-01,
        -1.25931707e-01, -1.96584221e-01, -3.03466383e-01,
        -2.04936057e-01, -2.62243901e-01,  1.19473889e-01,
        -3.13024924e-01,  1.99383864e-01, -1.94726758e-01,
        -4.32923214e-01,  1.09611633e+00,  7.97301386e-01,
        -2.66847731e-01,  7.21711300e-01,  7.81463900e-01,
         2.32294097e-01, -6.40748817e-02,  1.49879137e-01,
         7.54829550e-01,  4.82920018e-01, -2.94695358e-01,
        -2.06620184e-01,  1.02474449e+00, -3.29257243e-01,
        -3.14223122e-01,  5.77355802e-01, -2.34469625e-01,
         7.25748953e-02, -5.09752325e-01,  2.11393790e-02,
        -2.44600567e-01,  5.17240593e-01, -2.26163663e-01,
         9.57035279e-01, -4.82095770e-01, -4.91972765e-01,
        -2.12894089e-01,  1.62371920e-01, -3.73925917e-01,
        -1.30590962e-01,  2.77487602e-01, -3.66126951e-01,
        -1.01378746e-01,  3.29421959e+00, -1.19761637e-01,
        -2.56257486e-01, -3.45159147e-01,  3.92942553e-01,
         1.89564085e-02, -2.39025066e-01, -1.84729855e-01,
        -3.44085428e-01,  4.90606854e-01,  1.56978403e+00,
        -1.48320965e-01, -2.70442127e-01,  4.92642287e-02,
         8.18074265e-01,  6.90487954e-01,  2.29553647e-01,
        -3.42042244e-01, -6.22159267e-01, -2.43668234e-01,
        -8.93052120e-01, -2.24000693e-01, -6.13603254e-01,
        -4.66468849e-01, -3.07109488e-01, -8.73531952e-01,
         2.30209633e-01, -3.56433749e-01, -1.55538608e+00,
         1.21595026e+00, -4.53877936e-01,  2.23101712e-01,
        -1.07171176e-01, -2.03545530e-01, -1.89375270e-01,
        -3.22228107e-01, -4.59480174e-01, -2.32554008e-01,
         5.92751739e-01, -2.96582627e-01, -2.06270004e-01,
        -2.50306777e-01, -8.58097117e-01, -1.60554795e-01,
        -3.91693579e-01,  1.09973323e+00, -2.96108176e-01,
        -5.72195791e-01, -1.71333308e-01, -2.08326789e-01,
        -1.04725289e-01,  3.19913204e-02,  1.27796770e+00,
         3.27326156e-02, -1.82524980e-01, -5.21886076e-01,
        -1.62253092e-02, -3.19713187e-01, -2.31438055e-01,
         1.61371562e-01, -1.62941195e-01,  1.13206612e+00,
        -1.23026291e+00, -4.38812020e-01,  6.93301391e-01,
        -3.64364582e-01, -3.35295371e-01, -5.73320806e-01,
        -2.16103283e-01,  1.24191037e+00, -2.49364665e-01,
        -2.96388826e-01,  4.74644416e-02,  9.71067836e-01,
        -1.99253185e-01, -3.49851576e-01, -3.56460558e-01,
         5.36299316e-01, -1.11921835e+00,  1.20575146e+00,
         7.42087926e-01, -5.78670325e-01, -4.68745887e-01,
         9.60039201e-01, -2.89364133e-01, -2.97448035e-01,
        -2.48786049e-01, -3.02363241e-01, -1.71484766e-01,
        -2.44095720e-01, -4.07992083e-01,  5.28832735e-01,
         1.43783548e+00, -3.71687225e-01,  2.14233281e-01,
        -2.14228971e-01, -1.44784197e+00,  1.45223371e+00,
        -1.78183679e-01, -2.49052676e-01, -3.59158102e-02,
        -2.65508337e-01, -2.06845240e-01, -2.32418896e-01,
        -3.75555841e-01, -3.30824041e-01, -3.38493679e-01,
        -3.34430938e-01,  1.14822391e+00,  3.82572340e-01,
         1.13326063e+00, -1.26447559e+00, -6.48753941e-01,
        -4.63662459e-01, -2.44250315e-01,  5.08360718e-01,
        -9.08178451e-01, -3.07761967e-01, -4.50197501e-01,
        -2.21910181e-01, -1.30381241e-01, -1.52327541e+00,
         1.16323403e+00,  4.65722733e-01, -5.29599537e-01,
         4.98303944e-01, -2.62207991e-02, -5.48251998e-01,
         7.16149575e-02, -1.95283965e-01, -2.37909414e-01,
        -2.63677481e-02,  7.65078974e-01,  1.96095881e-01,
        -3.04637564e-01, -1.96798463e-01, -8.91441494e-01,
        -5.56133922e-01, -1.98344321e-01, -6.36107423e-01,
         1.53089072e+00, -5.06490828e-01,  2.42128081e+00,
        -5.63147897e-02, -2.61549147e-01, -2.17998905e-01,
        -1.07753338e-01, -3.19405896e-01, -1.40806945e-01,
         1.54613791e+00,  2.97129902e+00,  7.15324996e-01,
        -1.32887315e-01,  1.87391915e-01, -5.45286667e-02,
        -3.90551737e-02, -5.68892421e-01, -7.47707538e-02,
         1.43141961e+00, -1.38315393e-01, -7.50412845e-01,
        -2.07070148e-01,  7.58115924e-01, -2.80071642e-02,
        -1.11927724e+00,  7.77280007e-01,  7.67319198e-01,
        -2.81084563e-01,  6.97554138e-01,  9.82693314e-01,
        -2.14313890e-01, -2.77767637e-01,  1.94495932e+00,
         8.20198320e-01,  1.42119117e+00, -1.34747076e-01,
        -5.77227983e-01,  8.00936877e-02, -2.54517565e-01,
         1.15304124e+00, -1.83007004e-01,  1.53439094e+00,
        -2.31408838e-01, -8.14473243e-01,  1.42487839e-01,
         6.80990093e-01, -1.43873672e-01,  3.23164055e-01,
         1.39044194e-02, -2.31780754e-01,  1.05062987e+00,
        -4.08861089e-01, -8.74719803e-01, -1.59169951e+00,
        -3.38960086e-01, -3.18110475e-01,  1.46875432e-01,
        -3.12226381e-01, -6.48133089e-01, -1.98471134e-01,
         3.42055482e-02,  3.53726000e-02,  8.15803086e-01,
         8.14721901e-01, -1.56912933e-02,  1.08398026e+00,
         1.53118814e+00, -1.64236800e-01, -2.02392449e-01,
         9.89780752e-03,  1.10445961e+00, -2.37028376e-01,
        -2.02989201e-01,  6.83171626e-01, -5.68851508e-01,
        -2.38374984e-01, -2.33067283e-01,  4.60938093e-01,
         1.07941974e-01, -1.68678785e-01, -3.37898730e-01,
         1.58911748e+00, -4.72337254e-01,  6.84522659e-01,
         9.08563592e-01, -3.77009037e-01, -1.12477098e-01,
        -4.09698584e-01,  7.37036178e-01,  3.66782578e-01,
         9.70169110e-01, -7.18219150e-01,  1.59362778e-02,
        -4.96712126e-01,  2.71474265e-01,  1.10836702e+00,
         1.07730708e+00,  6.84151834e-01,  1.10030262e+00,
         2.51101851e-01,  8.23996401e-01, -2.75727605e-01,
         8.46357854e-01, -4.42534144e-01,  8.99886688e-01,
         2.17457715e+00, -1.66311757e-01, -2.80775620e-01,
        -5.40251497e-01, -1.61535617e-01, -5.25306241e-02,
         6.40373799e-02,  6.30721239e-01, -2.01310605e-01,
         1.21719397e+00,  1.52385050e+00, -1.61250842e-01,
        -1.29528670e-01,  8.74879512e-02,  2.07764964e-01,
         6.56497566e-01, -5.40493495e-01, -1.61727756e-01,
         1.47147039e+00, -3.30551592e-01,  3.00566390e+00,
        -8.52119983e-01,  4.91979727e-01,  2.05888172e+00,
        -1.83201249e-01, -4.44761709e-01,  8.61344349e-01,
        -2.87271779e-01, -1.35316888e-01,  8.85509179e-01,
        -7.04791207e-01, -3.00538570e-01, -1.24180482e-01,
         4.25902397e-01, -1.94698523e-01, -7.28636409e-01,
        -2.30957750e-01, -1.86686731e-01, -2.69489074e-01,
        -1.30391784e-01, -1.33348226e-01, -3.05427178e-01,
         7.99516754e-01,  1.24152954e-01,  1.13062050e+00,
         1.19743783e+00, -2.69556693e-01,  2.82351469e+00,
        -2.13751049e-01,  8.73007386e-01, -2.95620462e-01,
        -4.87223970e-01, -1.14844183e-01,  3.81540763e-01,
         4.02432301e-01, -4.27191587e-01,  9.02308024e-01,
        -3.01824152e-01,  5.55331893e-01, -9.29865281e-01,
        -1.82908969e-01, -4.49150827e-01, -3.89939443e-01,
         1.55880673e+00, -3.42514670e-01, -2.52919030e-01,
        -1.09765026e-01, -8.15098316e-02, -6.51367646e-01,
        -2.32710241e-01,  4.66910435e-01, -6.48379640e-01,
        -4.80069930e-01, -1.25376513e+00, -2.25539761e-02,
         2.09380082e-01,  1.25666973e+00,  4.68775449e-01,
         9.33158907e-03,  8.05068269e-01,  2.94850461e-01,
        -7.56829982e-01,  2.98965566e+00,  2.22744354e-01,
        -4.42124736e-01,  9.40376449e-01, -1.32168113e-01,
        -5.99530739e-01, -3.46239535e-01,  4.80838521e-01,
        -2.83323505e-01, -2.40900220e-01,  6.73481819e-01,
        -5.79874271e-01, -3.30145856e-01,  3.46553309e+00,
        -2.41908625e-01, -1.25182707e-03, -3.77770071e-01,
        -8.43896666e-01, -4.85803509e-01, -2.79292949e-01,
        -2.73313706e-01,  1.38528298e-01,  5.10850559e-02,
        -5.44090923e-01, -2.61006867e-01, -2.42376891e-01,
        -2.63121237e-01, -3.29137730e-01, -2.14274471e-01,
         2.68747085e-03, -2.27533335e-01,  2.08661706e-01,
        -2.77818339e-01, -1.82189889e-02, -5.30428726e-01,
        -3.55825207e-01, -4.05552708e-01, -8.82124890e-02,
        -3.88931540e-01, -4.53026733e-01, -2.23142066e-01,
        -3.11119840e-01,  2.54308175e+00, -3.48590735e-01,
        -8.03117631e-02, -2.65738942e-01,  6.32477871e-01,
        -2.07827496e-01, -4.68351178e-02, -1.98882351e-01,
        -1.74131845e-01,  6.31176971e-01,  5.43527769e-02,
         2.77020103e-01, -2.18038357e-01,  1.50310761e-02,
         4.36952464e-01, -9.27048528e-02,  3.90498714e+00,
        -2.75111654e-01,  3.09682895e+00, -2.87213468e-01,
         1.02018380e+00, -2.41698269e-01,  6.98298670e-01,
         1.16985730e+00,  1.85690828e+00,  1.75657204e-01,
         1.54829295e-01,  3.59585125e-02,  9.51725369e-01,
        -4.06188902e-01, -2.95715610e-01,  1.34302088e+00,
         3.04100782e-01,  1.41159224e+00, -4.36607792e-01,
        -5.84473824e-01,  7.52819728e-01, -2.62934249e-01,
        -2.29721783e-01, -3.93892320e-01,  2.87134639e-01,
        -3.17721956e-02, -2.66281856e-02, -7.87732239e-01,
        -3.83631063e-01, -3.63422310e-01, -7.13608230e-01,
        -6.91199911e-01,  1.33896490e+00,  2.63036273e-01,
         7.47550749e-01,  8.46708352e-01, -6.07432215e-01,
        -4.21663451e-01, -4.60499835e-01,  2.67193358e-01,
         8.17166858e-02, -1.75825083e-01,  6.24280994e-02,
        -7.91555476e-01, -2.47435020e-01,  2.20914354e-01,
         1.04822479e+00,  3.61093197e-01,  1.34629285e-01,
        -1.97820328e-01, -1.84092226e-01, -1.71414560e-01,
        -5.58048933e-02,  2.46556049e+00,  7.53625130e-01,
        -2.30640560e-01,  1.56896685e-01, -2.66399494e-01,
         9.51205819e-01,  1.32005871e+00, -2.25870306e-01,
        -2.80086378e-01, -2.51329783e-01,  6.25360847e-01,
        -6.94270272e-01, -4.13949953e-01, -4.18430490e-01,
        -2.51512395e-01,  4.73086304e-01, -1.08373597e-01,
         7.37502207e-02, -1.45684153e-01,  2.97314712e+00,
         8.87368869e-01,  6.08245996e-01,  5.13622286e-01,
        -3.88300769e-01, -6.76519684e-01,  5.08395734e-01,
        -2.97472318e-01, -3.40126138e-01, -3.72204294e-01,
         8.50965713e-02, -7.33404873e-01,  1.45656721e+00,
         6.45316724e-01, -5.89157720e-01]])

In [850]:
model.intercept_

array([-2.90812655])

In [851]:
# Вычисляем категориальные значения y_pred, используя тестовые данные X_test
y_pred = model.predict(X_test)
y_pred

array(['ham', 'ham', 'ham', ..., 'ham', 'spam', 'ham'], dtype=object)

In [852]:
model.score(X_test, y_test) # метод возвращает значение коэффициента детерминации

0.9772727272727273

у нас коэффициент детерминации близок к 1, значит логистическая регрессия очень хорошо объясняет закономернось данных

In [853]:
#8) Опишите результаты при помощи confusion_matrix
from sklearn.metrics import confusion_matrix

In [854]:
#смотрим длину тестовой выборуи
len(y_test)

1672

In [855]:
confusion_matrix(y_test, y_pred)

array([[1443,    5],
       [  33,  191]])

#### Итого: из 1672 значений 

    1443 правильных результата
    
    5 ложноотрицательных результата
    
    33 ложно положительных срабатываний
    
    191 истинно отрицательных результатов

In [856]:
#9) Постройте датафрейм, который будет содержать все исходные тексты сообщений, классифицированные 
# неправильно (с указанием фактического и предсказанного).

In [857]:
# Отфильтруем исходный датафрейм df, оставим в нем только данные, которые попали в выборку X_test
ind_list = list(X_test.index.values)
df_X_test= pd.DataFrame(data=df, index=ind_list)
#создадим датафрейм с предсказанными значениями y_pred
df_y_pred= pd.DataFrame(data=y_pred, index=ind_list, columns =['Category_pred'])
#объединим этих два датафрейма
df_diff = pd.concat([df_X_test, df_y_pred], axis=1)
df_diff.head()

,Category,Message,Message_clear,Category_pred
3245,ham,Squeeeeeze!! This is christmas hug.. If u lik ...,squeeeeeze is christmas hug u lik frndshp den ...,ham
944,ham,And also I've sorta blown him off a couple tim...,also ve sorta blown off couple time recently i...,ham
1044,ham,Mmm thats better now i got a roast down me! i...,mmm thats better got roast me i d b better i a...,ham
2484,ham,Mm have some kanji dont eat anything heavy ok,mm some kanji dont eat anything heavy ok,ham
812,ham,So there's a ring that comes with the guys cos...,a ring come the guy costume s there so can gif...,ham

In [858]:
#оставим только строчки, в которых фактическая категория (Category) не равна предсказанной категории (Category_pred)
df_diff.loc[df_diff['Category'] != df_diff['Category_pred']]

,Category,Message,Message_clear,Category_pred
881,spam,Reminder: You have not downloaded the content ...,reminder have downloaded content have already ...,ham
3864,spam,Oh my god! I've found your number again! I'm s...,oh god ve found number i so glad text back xaf...,ham
2575,spam,Your next amazing xxx PICSFREE1 video will be ...,next amazing xxx picsfree1 video be sent you e...,ham
3548,spam,Rock yr chik. Get 100's of filthy films &XXX p...,rock yr chik get 100 of filthy film xxx pic yr...,ham
2402,spam,Babe: U want me dont u baby! Im nasty and have...,babe u want dont u baby im nasty have thing 4 ...,ham
2663,spam,Hello darling how are you today? I would love ...,hello darling are today would love have chat d...,ham
751,spam,"Do you realize that in about 40 years, we'll h...",you realize in 40 year ll thousand old lady ru...,ham
2364,spam,Fantasy Football is back on your TV. Go to Sky...,fantasy football back your tv go sky gamestar ...,ham
3463,spam,Bloomberg -Message center +447797706009 Why wa...,bloomberg message center 447797706009 wait app...,ham
227,spam,Will u meet ur dream partner soon? Is ur caree...,u meet ur dream partner soon ur career 2 flyng...,ham
3885,spam,A link to your picture has been sent. You can ...,link your picture been sent can also use http ...,ham
3755,spam,Bloomberg -Message center +447797706009 Why wa...,bloomberg message center 447797706009 wait app...,ham
505,spam,#ERROR!,error,ham
856,spam,Talk sexy!! Make new friends or fall in love i...,talk sexy make new friend fall love the world ...,ham
3360,spam,Sorry I missed your call let's talk when you h...,sorry missed call let talk you the time m 0709...,ham
4506,spam,Mobile Club: Choose any of the top quality ite...,mobile club choose of top quality item your mo...,ham
5037,spam,You won't believe it but it's true. It's Incre...,won believe but s true s incredible txts reply...,ham
2770,spam,Burger King - Wanna play footy at a top stadiu...,burger king wanna play footy a top stadium get...,ham
2124,spam,#ERROR!,error,ham
5120,spam,PRIVATE! Your 2003 Account Statement for 078,private 2003 account statement 078,ham
1988,ham,No calls..messages..missed calls,call message missed call,spam
1350,spam,FREE2DAY sexy St George's Day pic of Jordan!Tx...,free2day sexy st george day pic jordan txt pic...,ham
1097,spam,Dear Subscriber ur draw 4 £100 gift voucher wi...,dear subscriber ur draw 4 100 gift voucher b e...,ham
731,spam,Email AlertFrom: Jeri StewartSize: 2KBSubject:...,email alertfrom jeri stewartsize 2kbsubject lo...,ham
1893,spam,CALL 09090900040 & LISTEN TO EXTREME DIRTY LIV...,call 09090900040 listen extreme dirty live cha...,ham
415,spam,100 dating service cal;l 09064012103 box334sk38ch,100 dating service cal l 09064012103 box334sk38ch,ham
2699,spam,FROM 88066 LOST £12 HELP,88066 lost 12 help,ham
75,ham,I am waiting machan. Call me once you free.,am waiting machan call once free,spam
68,spam,"Did you hear about the new ""Divorce Barbie""? I...",you hear the new divorce barbie come all ken s...,ham
5377,spam,The current leading bid is 151. To pause this ...,current leading bid 151 pause auction send cus...,ham
45,ham,No calls..messages..missed calls,call message missed call,spam
3132,spam,LookAtMe!: Thanks for your purchase of a video...,lookatme thanks your purchase video clip looka...,ham
19,spam,England v Macedonia - dont miss the goals/team...,england v macedonia dont miss goal team news t...,ham
4783,ham,"Call me, i am senthil from hsbc.",call i senthil hsbc,spam
3692,ham,"Sir, i am waiting for your call, once free ple...",sir am waiting your call free please call,spam
191,spam,Are you unique enough? Find out from 30th Augu...,you unique enough find from 30th august www ar...,ham
4543,spam,FreeMsg Hi baby wow just got a new cam moby. W...,freemsg hi baby wow got new cam moby wanna c h...,ham
305,spam,SMS. ac Blind Date 4U!: Rodds1 is 21/m from Ab...,sm ac blind date 4u rodds1 21 from aberdeen un...,ham